* {
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}
body {
    background-image: url("images/bos.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
h1 {
    margin: 50px 0 0 200px;
}
div#wrapper {
    margin: auto;
    width: 1920px;
}
nav {
    background-color: rgb(30, 130, 180);
}
nav ul li {
    background-color: rgb(31, 131, 177);
    color:whitesmoke;
    display: inline-block;
    list-style-type: none;
    padding-top: 50px;
    padding-right: 20px;
    padding-bottom: 15px;
}
nav ul li a {
    color: white;
    text-align: center;
}
div.position {
    position: relative;
    right: 50px;
    bottom: 50px;
}
div.body {
    border: groove lightseagreen 18px;
    margin: 50px 25px 25px 50px;
    background-color: forestgreen;
}
div.float {
    float: right;
}
footer {
    background-color: dimgray;
    color: white;
    padding: 80px;
}
article {
    display: inline-flex;
    width: 33%;
    padding-right: 15px;
    vertical-align: top;
}